<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Conexão com SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:meubanco.db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>

        <!-- Hibernate config -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Mapeamento das entidades -->
        <mapping class="org.example.model.User"/>
        <mapping class="org.example.model.Transaction"/>
    </session-factory>
</hibernate-configuration>
